
table {
  border-collapse: collapse;
  width: 180px;
}

th, td {
  text-align: center;
  padding: 8px;
}


tr.details {
    display:none;
     background-color: #33cfff;
    border-collapse: collapse;
    border-style: solid;
    border-width: thin
}


tr:nth-child(4n-2) {
  background-color: #ffe15b;
}

