
table {
  border-collapse: collapse;
  width: 100%;
  border-style: solid;
  border-width: thin;
  border-color: white
}

th, td {
  text-align: center;
  padding: 8px;
}

tr.details {
    display:none;
     background-color: #33cfff;
    border-collapse: collapse;
    border-style: solid;
    border-width: thin;
    font-family:'Courier New';
    border-color: 'black'
}


tr:nth-child(4n-2) {
  background-color: #ffe15b;
  
}

.runButton {
  width: 100%;
  padding: 5px 5px;
  margin: 4px 2px;
  max-width: 400px;
  align-items: center;
  justify-content: center;
}

body {
  padding-bottom: 150px;
}

