
table {
  border-collapse: collapse;
  width: 100%;
  border-style: solid;
  border-width: thin;
  border-color: white
}

th, td {
  text-align: center;
  padding: 8px;
}

tr.tickets {
    display:none;
    background-color: hsl(39, 98%, 43%);
    border-collapse: collapse;
    border-style: solid;
    border-width: thin;
    font-family:'Courier New';
    border-color: 'black';
    color:  #ffffff;
}

tr.changes {
    display:none;
    background-color: #a00000;
    border-collapse: collapse;
    border-style: solid;
    border-width: thin;
    font-family:'Courier New';
    border-color: 'black';
    color:  #ffffff;
}

tr:nth-child(6n-1) {
  background-color: #ffe65b;
}

tr:first-child {
  border-bottom: 1px solid #000;
}

.runButton {
  width: 100%;
  padding: 5px 5px;
  margin: 4px 2px;
  max-width: 400px;
  align-items: center;
  justify-content: center;
}

body {
  padding-bottom: 150px;
}

